body {
    overflow-x: hidden;
}

.img-item {
    height: 18rem;
    object-fit: cover;
}

.img-itemdetail {
    object-fit: cover;
}

.img-cat-card {
    height: 13rem;
    width: 100%;
    object-fit: cover;
    transition: all 2s;

}

.card-item {
    transition: all .4s;
    width: 18rem;
}

.card-item:hover {
    transform: scaleY(102%) scaleX(102%);
}

.logo {
    height: 3rem
}

.carousel {
    height: 85vh;
}

.img-carousel {
    height: 85vh;
    width: 100%;
}

.item-list {
    min-height: 100vh;
}